{
    "plugins": [
      // Pluguin asyn
      "@babel/plugin-syntax-dynamic-import",
      "@babel/plugin-transform-runtime",
      "@babel/plugin-proposal-class-properties"
    ],
    "presets": [
      "@babel/preset-env",
      // Soporte de JSX (React)
      "@babel/preset-react"
    ]
  }